@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    DropDownList Extensions</h2>
<fieldset>
    <legend>Cascading</legend>
    <div class="editor-label">
        <label for="continents">
            Continents:</label>
    </div>
    <div class="editor-label">
        @Html.DropDownList( "continents" , ViewBag.ContinentsList as SelectList , "[Please select a continent]", "countries" , "[Please select a country]" , Url.Action( "GetCountries" , "Countries" , new { area = "Select" } ) )
    </div>
    <div class="editor-label">
        <label for="countries">
            Countries:</label>
    </div>
    <div class="editor-label">
        @Html.DropDownList( "countries" , new SelectList( string.Empty ) , "[Please select a country]" )
    </div>
</fieldset>
<fieldset>
    <legend>Grouping</legend>
    <div class="editor-label">
        <label for="countriesList">
            Countries:</label>
    </div>
    <div class="editor-label">
    
    </div>
</fieldset>

