<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd hh:mm:ss}: Thread - [%thread] %logger %newline%message%newline"/>       
      </layout>
    </appender>
    
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="SavingsAnalysis.Client.Host.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd hh:mm:ss}: %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  
  <appSettings>
     <add key="fileUploadUrl" value="http://[SERVERNAME]/SavingsAnalysis/FileUpload"></add>
     <add key="MaxDays" value="180"></add>
     <add key="SqlCommandExecutionTimeoutSeconds" value="900"></add>
  </appSettings>
   <connectionStrings>
      <clear/>
      <add name="SccmConnectionStringTemplate"
        connectionString="Trusted_Connection=Yes;Max Pool Size=25;Connect Timeout=600;Current Language=us_english"
        providerName="System.Data.SqlClient" />
   </connectionStrings>
</configuration>