@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="ui-widget-header">
    <img src="../../App_Themes/DefaultTheme/appimages/logo.png" alt="" />
        Saving analysis tool
</div>
<br />
<br />
<h3>
    There is some error on the page. Please contact administrator
</h3>
